//// component.form.select ////

.input-box--select {

    select {
        display: block;
        width: 100%;
        max-width: 385px;
        height: 60px;
        margin: 0;
        padding: 0 12px;
        background: $lightPeach10 url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='1226' cy='42' r='18' transform='translate(-1208 -24)' fill='%23ff7864' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat;
        background-position: right 12px top 50%;
        box-shadow: none;
        border: 1px solid $lightPeach10;
        border-radius: 12px;
        line-height: 1.3;
        color: $burgundy;
        font-size: 16px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;

        &:focus {
            box-shadow: 0 0 8px 2px rgba($peach60, 0.5);
            border-color: $burgundy;
            outline: 0;
        }
    }
}