//// component.form.input-text ////

// Default text input with floating label
.input-box--text {
    position: relative;
    width: 100%;
    max-width: 385px;

    input {
        display: flex;
        align-items: center;
        width: 100%;
        height: 60px;
        padding: 0 12px;
        background-color: $lightPeach10;
        border: 1px solid $lightPeach10;
        border-radius: 4px;
        color: $burgundy;
        font-size: 16px;
        transition: 0.15s;

        &:disabled {
            background-color: lightgrey;
            color: #a3a2a0;
        }

        &:focus {
            box-shadow: 0 0 8px 2px rgba($peach60, 0.5);
            border-color: $burgundy;
            outline: 0;
            color: $burgundy;
        }

        @include placeholder {
            color: $peach80;
            font-size: 16px;
        }

        &:not(:placeholder-shown) {
            padding-top: 22px;
        }

        &:not(:placeholder-shown) ~ label {
            visibility: visible;
            transform: scale(0.8) translate(1px, -12px);
        }
    }

    label {
        position: absolute;
        left: 12px;
        top: 17px;
        visibility: hidden;
        color: $peach;
        font-size: 16px;
        font-weight: 400;
        transition: transform 0.2s cubic-bezier(0.2, 1.3, 0.7, 1);
        transform-origin: 0 0;
    }
}


// Helper text below input
//.input-box__helper-text {
//    display: block;
//    margin: 8px 0 0 12px;
//    font-size: 12px;
//}


// Simple text input with no floating label
//.input-text {
//    display: flex;
//    align-items: center;
//    width: 100%;
//    min-width: 280px;
//    max-width: 385px;
//    height: 60px;
//    padding: 0 12px;
//    background-color: $lightPeach10;
//    border: 1px solid $lightPeach10;
//    border-radius: 4px;
//    color: $burgundy;
//    font-size: 16px;
//
//    &:disabled {
//        background-color: lightgrey;
//        color: #a3a2a0;
//    }
//
//    &:focus {
//        box-shadow: 0 0 8px 2px rgba($peach60, 0.5);
//        border-color: $burgundy;
//        outline: 0;
//        color: $burgundy;
//    }
//
//    @include placeholder {
//        color: $peach80;
//        font-size: 16px;
//    }
//}


// Input prefix, e.g "W-" for the sms password login validation
//.input-box--with-prefix {
//    input {
//        padding-left: 48px;
//
//        &:not(:placeholder-shown) ~ label {
//            transform: translate(-44px,-10px);
//        }
//
//        &:not(:placeholder-shown) ~ .input-prefix {
//            transform: translateY(11px);
//        }
//    }
//
//    label {
//        left: 60px;
//        font-size: 12px;
//    }
//}
//
//.input-prefix {
//    position: absolute;
//    top: 0;
//    left: 0;
//    height: 60px;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    padding-left: 18px;
//    color: $burgundy90;
//    font-size: 16px;
//}



// Fake input - display data as if input but not editable but not disabled
//.input-box--text {
//    .input-fake {
//        display: flex;
//        align-items: center;
//        width: 100%;
//        max-width: 385px;
//        height: 60px;
//        padding: 22px 12px 0;
//        background-color: #fff;
//        color: $burgundy;
//        font-size: 16px;
//
//        + label {
//            position: absolute;
//            left: 12px;
//            top: 10px;
//            visibility: visible;
//            color: $peach;
//            font-size: 13px;
//            font-weight: 400;
//        }
//    }
//}