

// Radio chip
.input-box--radio-chip {
    input {
        position: absolute;
        opacity: 0;

        &:checked + label {
            background-color: currentColor;
        }
    }
}

// Radio chips as a toggle
.radio-chips-toggle {
    display: inline-flex;
    background-color: $lightPeach10;
    border-radius: 24px;

    .chip {
        background-color: transparent;
        color: $oceanBlue;
    }

    input:checked + .chip {
        background-color: $pineGreen;
        color: #fff;
    }
}


// Checkbox chip
.input-box--checkbox-chip {
    input {
        position: absolute;
        opacity: 0;

        &:checked + label {
            background-color: currentColor;
        }
    }
}

.checkbox-chips {
    display: flex;

    .chip {
        background-color: $oceanBlue05;

        span {
            color: $oceanBlue;
        }
    }

    input:checked + .chip span {
        color: #fff;
    }
}

.input-box--radiobutton {
    input {
        position: absolute;
        opacity: 0;

        &:checked + label {
            background-color: currentColor;

            span {
                color: #fff;
            }
        }
    }
}