//// component.card ////

.card {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 12px;
    font-size: 14px;
    @include ie {
        display: block;
    }

    p {
        margin-bottom: 16px;
    }

    a {
        margin-top: auto;
    }
}

.card__title {
    font-size: 16px;
    font-weight: 600;
}


// Cards together
.cards {
    display: grid;
    grid-gap: 32px;
    @include nogrid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}


.cards--2 {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

    .card {
        @include min(xs) {
            padding: 32px;
        }
    }

    @include nogrid {
        .card {
            width: 100%;
            margin-bottom: 32px;
            @include min(sm) {
                width: calc(50% - (32px / 2));
                margin-bottom: 0;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}


.cards--3 {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

    @include nogrid {
        .card {
            width: 100%;
            margin-bottom: 32px;
            @include min(xs) {
                width: calc(50% - (32px / 2));
            }
            @include min(sm) {
                width: calc(33.3333% - (64px / 3));
                margin-bottom: 0;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}