//// component.marker-group ////

// Together
.marker-groups {
    position: relative;

    @include min(md) {
        //width: 50%;
        //margin-right: 80px;
    }
}

.marker-groups__legend-numbers {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    color: $peach;
    font-size: 14px;
}

.marker-groups--has-legend {
    &:after {
        content: '';
        position: absolute;
        top: 50px;
        right: 50%;
        width: 1px;
        height: calc(100% - 50px);
        border-left: 1px dashed $burgundy50;
    }

    &.marker-groups--has-icons:after {
        right: calc(50% - 26px);
    }
}


// Individually
.marker-group {
    display: flex;
    align-items: center;
    position: relative;

    + .marker-group {
        margin-top: 24px;
    }
}

.marker-group__icon {
    padding-right: 8px;
}

.marker-group__content {
    flex: 1;
}

.marker-group__title {
    margin-bottom: 4px;
    color: $pineGreen;
    font-size: 16px;
    font-weight: 700;
}

.marker-group__comment {
    margin: 8px 0 0 4px;
    font-size: 14px;
}