//// component.lists ////

.list {


    &--has-icons .list__item {
        position: relative;
        padding-right: 56px;

        &:after {
            content: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='1226' cy='42' r='18' transform='translate(-1208 -24)' fill='%23FF7864' fill-rule='evenodd'/%3E%3C/svg%3E");
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 36px;
            height: 36px;
            margin-left: 8px;
        }
    }
}


.list__item {
    margin-bottom: 0;
    padding: 16px 0;
    //font-size: 14px;

    p {
        //margin-bottom: 8px;
    }

    a {
        text-decoration: none;
    }

    + .list__item {
        border-top: 1px solid $lightPeach30;
    }
}