//// component.chips ////

.chip {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    padding: 0 18px;
    border-radius: 18px;
    text-align: center;
    font-size: 14px;
    transition: 0.2s;

    span {
        color: #fff;
    }

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: 0;
    }

    &--small {
        height: 24px;
        padding: 0 12px;
        border-radius: 12px;
        font-size: 12px;
    }

    &--large {
        height: 48px;
        padding: 0 24px;
        border-radius: 24px;
        font-size: 16px;
    }
}