//// component.result-people-bar ////

.result-people-bars {
    @include min(md) {
        width: 50%;
        margin-right: 80px;
    }
}


.result-people-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    + .result-people-bar {
        margin-top: 48px;
    }
}

.result-people-bar__person {
    color: $lightPeach30;
}

.result-people-bar__title {
    width: 100%;
    margin-bottom: 8px;
    color: $oceanBlue;
    font-size: 14px;
    font-weight: 400;
}