//// component.buttons ////

// JS actions buttons
button {
    padding: 0;
    background: none;
    border: 0;
    cursor: pointer;

    &:focus {
        outline: 0;
    }
}

// Base styles with variations
[class^="button--"] {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    padding: 0 28px;
    border: 2px solid currentColor;
    border-radius: 18px;
    line-height: 1.3;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    cursor: pointer;
    transition: 0.2s;

    @include min(xxs) {
        padding: 0 34px;
    }

    span {
        pointer-events: none;
        line-height: 1.2;
        transition: 0.2s;

        @include min(xxs) {
            line-height: 1;
        }
    }

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: 0;
    }

    &.button--pull-bottom {
        position: relative;
        bottom: -18px;
    }
}

a[class^="button--"] {
    text-decoration: none;

    &:not(.button--tertiary) {
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}


.button--primary {
    background-color: currentColor;
    color: $peach;

    span {
        color: #fff;
    }

    &:hover,
    &:focus {
        background-color: transparent;
        border-color: currentColor;

        span {
            color: currentColor;
        }
    }

    &:disabled {
        background-color: $grey30;
        border-color: $grey30;
        color: #fff;

        &:hover {
            background-color: $grey30;
            border-color: $grey30;
            cursor: not-allowed;
        }
    }

    //&.button--loading {
    //    position: relative;
    //
    //    &:before {
    //        content: '';
    //        position: absolute;
    //        top: 12px;
    //        left: 14px;
    //        width: 24px;
    //        height: 24px;
    //        background: url('../images/loading.svg') no-repeat;
    //    }
    //
    //    &.button--small:before {
    //        top: 8px;
    //        left: 9px;
    //        width: 23px;
    //        height: 23px;
    //        background: url('../images/loading.svg') no-repeat;
    //        //background: url('../images/loading-small.svg') no-repeat;
    //    }
    //
    //    &:hover,
    //    &:focus {
    //
    //    }
    //}

    //+ .button--tertiary {
    //    margin-top: 6px;
    //}
}


//.button--secondary {
//    background-color: transparent;
//    color: currentColor;
//
//    span {
//        color: currentColor;
//    }
//
//    &:hover,
//    &:focus {
//        background-color: currentColor;
//
//        span {
//            color: #fff;
//        }
//    }
//
//    &:disabled {
//        color: $grey30;
//
//        &:hover {
//            background-color: transparent;
//            cursor: not-allowed;
//            span {
//                color: $grey30;
//            }
//        }
//    }
//
//    &.button--inverted {
//        border-color: #fff;
//        color: #fff;
//
//        &:hover {
//            background-color: #fff;
//            span {
//                color: $grey;
//            }
//        }
//    }
//}


//.button--tertiary {
//    background-color: transparent;
//    border-color: transparent;
//
//    span {
//        color: currentColor;
//    }
//
//    &:hover,
//    &:focus {
//        border-color: transparent;
//
//        span {
//            color: $lightPeach;
//        }
//    }
//}


// Button group (2x)
//.buttons {
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//
//    &--horisontal {
//        flex-direction: row;
//
//        [class^=button--]:last-of-type {
//            margin-top: 0;
//        }
//    }
//}