//// component.table ////



// Pseudo table for listing non-tabular data where controlling column order responsively is important
.table {
    width: 100%;
}

.table__head {
    display: flex;
    padding: 8px 16px;
    color: $lightPeach;
    font-size: 14px;
    font-weight: 400;
}

.table__body {
    background-color: $lightPeach10;
    border-radius: 12px;
}

.table__row {
    display: flex;
    align-items: center;
    padding: 16px;
    color: $pineGreen;

    &--latest {
        background-color: $lightPeach30;
        border-radius: 12px 12px 0 0;
    }

    + .table__row {
        border-top: 1px solid $lightPeach30;
    }
}

[class*="table__row--column"] {
    display: flex;
    align-items: center;
}

.table__row--column-last {
    margin-left: auto;
}