//// component.links ////

// Temporary highlight of inactive links
a[href="#"] {
    text-decoration: line-through;

    &:hover {
        text-decoration: line-through;
        cursor: not-allowed;
    }
}


// Anchor tag
a {
    color: $peach;

    &:hover,
    &:focus {
        //color: $peach;
        text-decoration: underline;
    }

    &:focus {
        outline: 0;
    }
}

.link {
    display: inline-flex;
    align-items: center;
    color: $peach;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $peach;
        text-decoration: none;
    }

    &:focus {
        outline: 0;
    }

    &:after {
        content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='1226' cy='42' r='18' transform='translate(-1208 -24)' fill='%23FF7864' fill-rule='evenodd'/%3E%3C/svg%3E");
        width: 24px;
        height: 24px;
        margin-left: 8px;
    }

    + .link {
        margin-left: 24px;
    }


    &--on-dark {
        color: $lightPeach;

        &:hover,
        &:focus {
            color: $lightPeach;
        }

        &:after {
            content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='1226' cy='42' r='18' transform='translate(-1208 -24)' fill='%23feaf90' fill-rule='evenodd'/%3E%3C/svg%3E");
        }
    }
}