//// component.media-object ////

.media-object {
    padding: 16px;
    border-radius: 12px;
    @include min(xs) {
        padding: 24px;
    }
    @include min(sm) {
        display: flex;
        justify-content: space-between;
        padding: 0 24px;
    }
    @include min(md) {
        padding: 0 32px;
    }

    > * {
        @include min(sm) {
            width: calc(50% - 12px);
        }
        @include min(md) {
            width: calc(50% - 16px);
        }
    }
}

.media-object--info {
    background-image: url('../images/hr-topo-curves-bg.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.media-object__copy {

    @include min(sm) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 24px;
    }

    p + p {
        margin-top: 24px;
    }

    .button--primary {
        @include min(sm) {
            margin-top: auto;
        }
    }
}

.media-object__image {
    border-radius: 12px;
    @include min(sm) {
        padding-top: 24px;
    }
    @include min(md) {
        position: relative;
        top: -32px;
        padding-top: 0;
    }

    img {
        border-radius: 12px;
    }
}