//// component.result-track-bar ////

.result-track-bar__track {
    position: relative;
    width: 100%;
    height: 24px;
    background-color: #fff;
    border-radius: 12px;

    .marker-groups--on-white & {
        background-color: $turquoise10;
    }
}

.result-track-bar__bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    background-color: $peach;
    border-radius: 12px;


    &:first-of-type {
        z-index: 7;
    }
    &:nth-of-type(2) {
        z-index: 6;
        background-color: $lightPeach;
    }
    &:last-of-type {
        z-index: 5;
        background-color: $lightPeach50;
    }
    &:only-of-type {
        background-color: $peach;
        z-index: initial;
    }

    &:hover .popover-wrapper {
        pointer-events: auto;
        opacity: 1;
        transform: scale(1);
        transition: opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946), transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
    }
}

.popover-wrapper {
    opacity: 0;
    pointer-events: none;
    transform: scale(1.05);
    transition: opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946), transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
    will-change: opacity, transform;

    position: absolute;
    bottom: 24px;
    left: -32px;
    z-index: 10;
    padding: 16px;
    background-color: transparent;
    @include min(xxs) {
        left: 4px;
    }
    @include min(xs) {
        left: 16px;
    }
    @include min(sm) {
        left: 50%;
    }
    @include min(md) {
        left: calc(100% - 40px);
    }
}

.result-track-bar__popover {
    width: 220px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 20px 0 rgba(#000, 0.1);
    border-radius: 12px;
}