//// component.nav-item ////

.nav-item {
    display: inline-flex;
    margin-bottom: 0;

    &--has-dropdown {
        position: relative;
    }

    &--active .nav-item__link {
        color: $peach105;

        &:hover,
        &:focus {
            background-color: transparent;
            color: $peach105;
        }
    }

    &.dropdown--open {
        > .nav-item__link {
            background-color: $lightPeach30;
        }

        .nav-item__dropdown {
            pointer-events: auto;
            opacity: 1;
            transform: scale(1);
            transition: opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946), transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
        }
    }

    + .nav-item {
        margin-left: 8px;
    }
}

.nav-item__link {
    display: flex;
    align-items: center;
    line-height: 1;
    height: 36px;
    padding-left: 16px;
    border-radius: 18px;
    color: $pineGreen;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.15s;

    &:hover,
    &:focus {
        color: $pineGreen;
        text-decoration: none;
    }
    &:hover {
        background-color: $lightPeach30;
    }
    &:focus {
        outline: 0;
    }

    &:after {
        content: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='1226' cy='42' r='18' transform='translate(-1208 -24)' fill='%23FF7864' fill-rule='evenodd'/%3E%3C/svg%3E");
        width: 36px;
        height: 36px;
        margin-left: 8px;
    }
}



// Popup menu below nav-item
.nav-item__dropdown {
    opacity: 0;
    pointer-events: none;
    transform: scale(1.05);
    transition: opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946), transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
    will-change: opacity, transform;

    position: absolute;
    top: 48px;
    right: 0;
    z-index: 10;
    min-width: 165px;
    background-color: #fff;
    box-shadow: 0 2px 20px 0 rgba(#000, 0.1);
    border-radius: 12px;

    .nav-item {
        display: flex;
        margin-left: 0;

        &:first-of-type .nav-item__link {
            border-radius: 12px 12px 0 0;
        }

        &:last-of-type .nav-item__link {
            border-radius: 0 0 12px 12px;
        }
    }

    .nav-item--active .nav-item__link {
        color: $peach;
    }

    .nav-item__link {
        display: flex;
        align-items: center;
        width: 100%;
        height: 48px;
        padding-left: 20px;
        border-radius: 0;
        color: $pineGreen;
        transition: background-color 0.2s;

        &:after {
            content: '';
            width: auto;
            height: auto;
        }
    }
}