//// component.form.checkbox-toggle ////

.input-box--checkbox-toggle {
    input {
        position: absolute;
        opacity: 0;
        clip-path: polygon(0px 0px,0px 0px,0px 0px,0px 0px);

        &:checked + label {
            background-color: $lightPeach30;

            &:after {
                left: 50%;
                background-color: $peach;
            }
        }
    }

    label {
        display: flex;
        position: relative;
        width: 52px;
        height: 28px;
        background-color: $beige;
        border-radius: 14px;
        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            top: 4px;
            left: 6px;
            width: 20px;
            height: 20px;
            background-color: #fff;
            border-radius: 10px;
            transition: 0.2s;
        }
    }
}