<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Werlabs HR - Login</title>

    <link rel="stylesheet" href="/css/plasma.css">
    <link rel="stylesheet" href="/css/tailwind.css">
    <script src="/js/modernizr.js"></script>
</head>
<body class="view--account">
<header class="header-container">
    <div class="container--xl">
        <div class="header d-flex align-items-center py-2 md:px-1">
            <button class="nav-toggle js-toggle-nav" title="Toggle navigation">
                <svg width="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="24" cy="24" r="24" fill="#FFF1EF"/><path stroke="#FF7864" stroke-width="2" stroke-linecap="round" d="M11 16h26M11 24h18M11 32h14"/></svg>
            </button>

            <a class="logo" href="/" title="Werlabs">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 120 25"><defs><path id="a" d="M.049.08H17.56v24.672H.05z"/><path id="c" d="M.001.08h5.904v24.671H.001z"/><path id="e" d="M.196.13H6.31v6.165H.196z"/></defs><g fill="none" fill-rule="evenodd"><g transform="translate(83.436 .167)"><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><path d="M12.524 19.839c-.987.996-2.238 1.493-3.718 1.493-1.482 0-2.734-.497-3.72-1.493-.99-1.03-1.483-2.292-1.483-3.82 0-1.527.493-2.788 1.482-3.785.987-1.028 2.239-1.527 3.721-1.527 1.48 0 2.731.499 3.718 1.527.989.997 1.482 2.258 1.482 3.786 0 1.527-.493 2.79-1.482 3.819M15.159 9.81c-1.614-1.694-3.523-2.524-5.796-2.524-2.5 0-4.409.93-5.76 2.79l.002-8.118C3.605-.022 2.013.081.05.081V24.32h3.554v-2.39c1.351 1.894 3.26 2.823 5.76 2.823 2.273 0 4.182-.83 5.796-2.523 1.613-1.694 2.401-3.787 2.401-6.21 0-2.457-.788-4.516-2.401-6.21" fill="#3D3D3C" mask="url(#b)"/></g><path d="M71.444 21.498c1.48 0 2.732-.497 3.718-1.494.989-1.028 1.482-2.291 1.482-3.819 0-1.527-.493-2.789-1.482-3.785-.986-1.029-2.238-1.527-3.718-1.527-1.482 0-2.734.498-3.72 1.527-.99.996-1.483 2.258-1.483 3.785 0 1.528.494 2.79 1.483 3.82.986.996 2.238 1.493 3.72 1.493zm5.2-13.613h3.555v16.602h-3.555v-2.391c-1.348 1.894-3.26 2.822-5.76 2.822-2.273 0-4.182-.83-5.795-2.522-1.611-1.694-2.402-3.787-2.402-6.21 0-2.457.79-4.516 2.402-6.21 1.613-1.694 3.522-2.524 5.795-2.524 2.5 0 4.412.93 5.76 2.79V7.886zm-44.366 2.948c2.239-.61 4.54.495 5.557 2.684l-9.617 2.62c-.174-2.547 1.537-4.616 4.06-5.304zm9.233 8.088c-1.872-.525-2.82-.966-4.045.709-.544.779-1.296 1.372-2.416 1.677-2.618.713-4.899-.1-6.05-2.38l12.896-3.513a9.824 9.824 0 00-.258-1.465c-.621-2.322-1.915-4.12-3.83-5.338-1.917-1.219-4.376-1.436-6.678-.81-2.429.662-4.234 2.007-5.345 4.05-1.119 2.012-1.38 4.198-.741 6.584.647 2.418 1.973 4.207 3.975 5.367 1.993 1.13 4.004 1.434 6.558.738 3.06-.833 5.01-2.873 5.933-5.615l.001-.004zm6.487-3.757v9.323h-3.555l.003-9.316c0-4.261 3.426-7.716 7.651-7.716v3.574c-2.264 0-4.1 1.851-4.1 4.135" fill="#3D3D3C"/><g transform="translate(54.97 .167)"><mask id="d" fill="#fff"><use xlink:href="#c"/></mask><path d="M3.57 1.959C3.57-.022 1.965.081.001.081v18.743c0 3.273 2.659 5.927 5.904 5.927v-3.585a2.343 2.343 0 01-2.335-2.342V1.959z" fill="#3D3D3C" mask="url(#d)"/></g><path d="M18.62 7.882V18.42c0 1.596-1.288 2.895-2.87 2.895-1.583 0-2.87-1.299-2.87-2.895V7.884H9.31V18.42c0 1.596-1.288 2.895-2.87 2.895-1.583 0-2.87-1.299-2.87-2.895v-7.067h-.001V9.326C3.569 7.346 1.964 7.45 0 7.45v10.97c0 3.58 2.889 6.495 6.44 6.495 1.829 0 3.481-1.112 4.654-2.351 1.174 1.24 2.826 2.351 4.656 2.351 3.55 0 6.44-2.914 6.44-6.495V7.882h-3.57zm91.243 6.743c-1.71-.497-3.093-1.062-3.093-2.159 0-1.16 1.053-1.758 2.404-1.758 1.127 0 2.006.367 2.61 1.1l3.46-.936c-1.157-2.138-3.353-3.42-6.07-3.42-1.713 0-3.16.465-4.313 1.396-1.152.93-1.713 2.158-1.713 3.685-.064 3.488 3.26 4.482 5.729 5.114 1.745.431 3.128 1.062 3.128 2.125 0 1.229-.922 1.86-2.799 1.86-1.504 0-2.584-.514-3.242-1.537l-3.475.939c1.054 2.425 3.458 3.884 6.717 3.884 1.845 0 3.356-.465 4.576-1.361 1.217-.896 1.844-2.157 1.844-3.751.064-3.553-3.227-4.616-5.763-5.18" fill="#3D3D3C"/><g transform="translate(113.62 1.157)"><mask id="f" fill="#fff"><use xlink:href="#e"/></mask><path d="M6.016 1.897A3.094 3.094 0 014.556 6 3.045 3.045 0 01.49 4.528 3.094 3.094 0 011.95.425a3.044 3.044 0 014.067 1.472" fill="#FF7864" mask="url(#f)"/></g></g></svg>
            </a>

            <ul class="nav-top ml-6">
                <li class="nav-item">
                    <a class="nav-item__link" href="/">
                        Dashboard
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-item__link" href="/pages/reports">
                        Rapporter
                    </a>
                </li>
            </ul>

            <div class="nav-item nav-item--has-dropdown ml-auto">
                <button class="nav-item__link js-toggle-dropdown" title="Toggle dropdown menu">
                    {{userName}}
                </button>

                <ul class="nav-item__dropdown">
                    <li class="nav-item nav-item--active">
                        <a class="nav-item__link" href="/pages/account">
                            Konto
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-item__link" href="/pages/login/context.html">
                            Change context
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-item__link" href="/pages/login">
                            Logga ut
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <nav class="nav-aside" role="navigation">
        <button class="nav-toggle js-toggle-nav" title="Toggle navigation">
            <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="24" cy="24" r="24" fill="#FFF1EF"/><path d="M34 14L14 34" stroke="#FF9383" stroke-width="2" stroke-linecap="round"/><path d="M14 14l20 20" stroke="#F57360" stroke-width="2" stroke-linecap="round"/></svg>
        </button>

        <ul>
            <li class="nav-item nav-item--active">
                <a class="nav-item__link" href="/">
                    Dashboard
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-item__link" href="/pages/reports">
                        Rapporter
                    </a>
            </li>

            <li class="nav-item">
                <span class="nav-item__link">
                    {{userName}}
                </span>

                <ul class="">
                    <li class="nav-item nav-item--active">
                        <a class="nav-item__link" href="/pages/account">
                            Konto
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-item__link" href="/pages/login/context.html">
                            Change context
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-item__link" href="/pages/login">
                            Logga ut
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="nav-backdrop js-toggle-nav"></div>
</header>

<main class="pt-2 xs:pt-3 sm:pt-4 md:pt-5 lg:pt-7 pb-10">
    <div class="container--md">
        <h1>
            Konto
        </h1>

        <div class="sm:d-flex justify-between mw-xs sm:mw-100">
            <div class="sm:w-1/2 mb-6 sm:mb-0 sm:mr-2 sm:pl-1 md:pl-2">
                <h2 class="color-peach-100 fs-24 fw-700">
                    Inställningar
                </h2>

                <p>
                    Below are your settings which you can edit and change based on your needs.
                </p>

                <ul class="list px-2">
                    <li class="list__item">
                        <a class="d-flex align-items-center color-oceanBlue-100 fs-16" href="/pages/account/general.html">
                            <img class="mr-1" src="/images/hr-oval-peach-36.svg"> General <img class="ml-auto" src="/images/hr-oval-peach-24.svg">
                        </a>
                    </li>

                    <li class="list__item">
                        <a class="d-flex align-items-center color-oceanBlue-100 fs-16" href="/pages/account/contacts.html">
                            <img class="mr-1" src="/images/hr-oval-peach-36.svg"> Contact and invoices <img class="ml-auto" src="/images/hr-oval-peach-24.svg">
                        </a>
                    </li>

                    <li class="list__item">
                        <a class="d-flex align-items-center color-oceanBlue-100 fs-16" href="/pages/account/communication.html">
                            <img class="mr-1" src="/images/hr-oval-peach-36.svg"> Communication <img class="ml-auto" src="/images/hr-oval-peach-24.svg">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="sm:w-1/2 sm:ml-2">
                <h2 class="color-pineGreen-100 fs-24 fw-700">
                    Join our product development program
                </h2>

                <p>
                    We are always working to develop our products and that’s why we would like to invite you to our next roadmap and development roundtable.
                </p>

                <img src="/images/hr-account-image-comp.png" alt="Join our product development program">

                <a class="link mt-2" href="#">
                    Find out more and R.S.V.P.
                </a>
            </div>
        </div>
    </div>
</main>

<footer></footer>

<script src="/js/blackwell.js"></script>
</body>
</html>