//// foundations.forms ////

// Resets //

// Reset iOS text field dropshadow
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    -webkit-appearance: none;
}

// Reset Chrome autofill input field style
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px $lightPeach10 inset;
}
input:-webkit-autofill {
    -webkit-text-fill-color: $burgundy !important;
}

// Reset flashing blue background on clicked elements
input,
label,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
