//// generic.fonts ////

// GT Walsheim //
@font-face{
    font-family:"GT Walsheim Pro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://werlabs.se/assets/fonts/GT-Walsheim-Pro-Regular.woff2') format('woff2'),
    url('https://werlabs.se/assets/fonts/GT-Walsheim-Pro-Regular.woff') format('woff');
}
@font-face{
    font-family:"GT Walsheim Pro";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('https://werlabs.se/assets/fonts/GT-Walsheim-Pro-Medium.woff2') format('woff2'),
    url('https://werlabs.se/assets/fonts/GT-Walsheim-Pro-Medium.woff') format('woff');
}
@font-face{
    font-family:"GT Walsheim Pro";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('https://werlabs.se/assets/fonts/GT-Walsheim-Pro-Bold.woff2') format('woff2'),
    url('https://werlabs.se/assets/fonts/GT-Walsheim-Pro-Bold.woff') format('woff');
}