//// foundations.layout ////

// The main horisontal boxing element(s)
//.container {
//    max-width: 1200px;
//    margin: 0 auto;
//    padding-right: 12px;
//    padding-left: 12px;
//    @include min(xxs) {
//        padding-left: 16px;
//        padding-right: 16px;
//    }
//    @include min(xs) {
//        padding-left: 24px;
//        padding-right: 24px;
//    }
//    @include min(lg) {
//        padding-left: 16px;
//        padding-right: 16px;
//    }
//}

[class^="container--"] {
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
    @include min(xxs) {
        padding-left: 16px;
        padding-right: 16px;
    }
    @include min(xs) {
        padding-left: 24px;
        padding-right: 24px;
    }
    @include min(lg) {
        padding-left: 16px;
        padding-right: 16px;
    }

    .container {
        padding-left: 0;
        padding-right: 0;
    }
}

.container {
    &--xxs {
        max-width: 360px;
    }
    &--xs {
        max-width: 576px;
    }
    &--sm {
        max-width: 768px;
    }
    &--md {
        max-width: 992px;
    }
    &--lg {
        max-width: 1200px;
    }
    &--xl {
        max-width: 1400px;
    }
}

.mock-class {
    @include max(xxs) {
        font-size: 12px;
    }
    @include max(xs) {
        font-size: 12px;
    }
    @include max(sm) {
        font-size: 12px;
    }
    @include max(md) {
        font-size: 12px;
    }
    @include max(lg) {
        font-size: 12px;
    }
    @include max(xl) {
        font-size: 12px;
    }
}