//// foundations.typography ////

body {
    background-color: #fff;
    line-height: 1.5;
    @include walsheim(400);
    color: $oceanBlue;
    font-size: 16px;
}



// Headings //
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    line-height: 1.1;
    color: $grey;
    font-weight: 400;
}


// H1 //
.h1,
h1 {
    margin-bottom: 24px;
    font-size: 36px;
    font-weight: 600;
}

// H2 //
//.h2,
//h2 {
//    margin-bottom: 18px;
//    font-size: 2.486rem;
//    font-weight: 600;
//    letter-spacing: 0.0625em;
//}

// H3 //
//.h3,
//h3 {
//    margin-bottom: 18px;
//    font-size: 2.1rem;
//    font-weight: 600;
    //letter-spacing: 0.0625em;
    //@include min(xs) {
    //    margin-bottom: 20px;
    //    font-size: 32px;
    //}
    //@include min(sm) {
    //    margin-bottom: 22px;
    //    font-size: 34px;
    //}
    //@include min(md) {
    //    margin-bottom: 24px;
    //    font-size: 36px;
    //}
    //@include min(lg) {
    //    font-size: 38px;
    //}
    //@include min(xl) {
    //    font-size: 40px;
    //}
//}

// H4 //
//.h4,
//h4 {
//    margin-bottom: 18px;
//    font-size: 1.69rem;
//    font-weight: 600;
    //letter-spacing: 0.0625em;
    //@include min(xs) {
    //    margin-bottom: 20px;
    //    font-size: 32px;
    //}
    //@include min(sm) {
    //    margin-bottom: 22px;
    //    font-size: 36px;
    //}
    //@include min(md) {
    //    margin-bottom: 24px;
    //    font-size: 40px;
    //}
    //@include min(lg) {
    //    font-size: 44px;
    //}
    //@include min(xl) {
    //    font-size: 48px;
    //}
//}

// H5 //
//.h5,
//h5 {
//    margin-bottom: 18px;
//    font-size: 1.471rem;
//    font-weight: 600;
    //letter-spacing: 0.0625em;
    //@include min(xs) {
    //    margin-bottom: 20px;
    //    font-size: 32px;
    //}
    //@include min(sm) {
    //    margin-bottom: 22px;
    //    font-size: 36px;
    //}
    //@include min(md) {
    //    margin-bottom: 24px;
    //    font-size: 40px;
    //}
    //@include min(lg) {
    //    font-size: 44px;
    //}
    //@include min(xl) {
    //    font-size: 48px;
    //}
//}

// H6 //
//.h6,
//h6 {
//    margin-bottom: 18px;
//    font-size: 1.243rem;
//    font-weight: 600;
    //letter-spacing: 0.0625em;
    //@include min(xs) {
    //    margin-bottom: 20px;
    //    font-size: 32px;
    //}
    //@include min(sm) {
    //    margin-bottom: 22px;
    //    font-size: 36px;
    //}
    //@include min(md) {
    //    margin-bottom: 24px;
    //    font-size: 40px;
    //}
    //@include min(lg) {
    //    font-size: 44px;
    //}
    //@include min(xl) {
    //    font-size: 48px;
    //}
//}


// Variations //

// Heading uppercase
//.heading--uppercase {
//    font-weight: 600;
//    text-transform: uppercase;
//    letter-spacing: 1.3px;
//}

// Heading prefixed by an icon
//.heading--prefix-icon {
//    display: flex;
//    align-items: center;
//
//    img,
//    svg {
//        margin-right: 16px;
//    }
//}