//// settings.colors ////

// Primaries //

// Peach
$peach10: #fff1ef;
$peach20: #ffe4e0;
$peach30: #ffd6d0;
$peach40: #ffc9c1;
$peach50: #ffbbb1;
$peach60: #ffaea2;
$peach70: #ffa092;
$peach80: #ff9383;
$peach90: #ff8573;
$peach: #ff7864;
$peach105: #f57360;

// Light Peach
$lightPeach10: #fef7f3;
$lightPeach20: #ffefe9;
$lightPeach30: #fee7dd;
$lightPeach40: #ffdfd3;
$lightPeach50: #fed7c7;
$lightPeach60: #fecfbc;
$lightPeach70: #fec7b1;
$lightPeach80: #febfa6;
$lightPeach90: #feb79b;
$lightPeach: #feaf90;
$lightPeach105: #f4a88a;

// Pine Green
$pineGreen05: #eef3f1;
$pineGreen10: #e7edeb;
$pineGreen20: #cfddd9;
$pineGreen30: #b7cbc5;
$pineGreen40: #9fbbb3;
$pineGreen50: #87a99f;
$pineGreen60: #6f988c;
$pineGreen70: #578779;
$pineGreen80: #3f7666;
$pineGreen90: #276553;
$pineGreen: #0f5440;
$pineGreen105: #0e4f3c;

// Ocean Blue
$oceanBlue05: #e8e9eb;
$oceanBlue10: #d8d9de;
$oceanBlue20: #bbbec8;
$oceanBlue30: #a1a6b3;
$oceanBlue40: #8a90a1;
$oceanBlue50: #747d90;
$oceanBlue60: #606c80;
$oceanBlue70: #4c5d73;
$oceanBlue80: #384f66;
$oceanBlue90: #22435a;
$oceanBlue: #023750;
$oceanBlue105: #1e475c;

// Burgundy
$burgundy05: #f0ecee;
$burgundy10: #e5dfe2;
$burgundy20: #d3c7ce;
$burgundy30: #c3b1bc;
$burgundy40: #b49dab;
$burgundy50: #a68a9b;
$burgundy60: #99798d;
$burgundy70: #8d6a80;
$burgundy80: #815b74;
$burgundy90: #764d69;
$burgundy: #6c3e5f;
$burgundy105: #664255;

// Greys
$grey05: #fcfbfa;
$grey10: #faf9f7;
$grey15: #f5f3f0;
$grey20: #e8e7e3;
$grey30: #dbdad7;
$grey40: #c9c8c5;
$grey50: #b8b6b4;
$grey60: #a3a2a0;
$grey70: #8a8987;
$grey80: #706f6e;
$grey90: #575655;
$grey: #3d3d3c;



// Secondaries //

// Silver
$silver10: #eff0f0;
$silver20: #e3e6e7;
$silver30: #d7dcdd;
$silver40: #ccd2d4;
$silver50: #c1c9cc;
$silver60: #b6c1c4;
$silver70: #acb8bc;
$silver80: #a1b0b4;
$silver90: #97a8ad;
$silver: #8da1a5;
$silver105: #88979e;

// Beige
$beige10: #fcfbf9;
$beige20: #faf8f4;
$beige30: #f6f4ef;
$beige40: #f4f1ea;
$beige50: #f1ede4;
$beige60: #efeadf;
$beige70: #ece6d9;
$beige80: #e9e3d5;
$beige90: #e6dfcf;
$beige: #e4dcca;
$beige105: #dbd3c2;

// Mint Green
$mintGreen10: #e9f6f2;
$mintGreen20: #d5eee6;
$mintGreen30: #bfe6d8;
$mintGreen40: #aadecc;
$mintGreen50: #95d5bf;
$mintGreen60: #80cdb3;
$mintGreen70: #6ac4a6;
$mintGreen80: #55bd99;
$mintGreen90: #40b48c;
$mintGreen: #2bac80;
$mintGreen105: #29a57a;

// Turquoise
$turquoise05: #f7fcfd;
$turquoise10: #f0fafb;
$turquoise20: #e1f5f7;
$turquoise30: #d2f0f3;
$turquoise40: #c3ebef;
$turquoise50: #b4e6eb;
$turquoise60: #a5e1e7;
$turquoise70: #96dce3;
$turquoise80: #87d7df;
$turquoise90: #78d2db;
$turquoise: #69cdd7;
$turquoise105: #64c4ce;

// Yellow
$yellow10: #fffbf1;
$yellow20: #fff7e4;
$yellow30: #fff3d6;
$yellow40: #ffefc9;
$yellow50: #ffebbb;
$yellow60: #ffe7ae;
$yellow70: #ffe3a0;
$yellow80: #ffdf93;
$yellow90: #ffdb85;
$yellow: #ffd778;
$yellow105: #f5ce73;



$errorColor: #dc1616;


// Legacy colours //

// Blue
$blueLightest: #f0f7fc;
$blueLight: #70b2f3;
$blue: #1580cd;
$blueDark: #2e84d7;
$blueDarker: #035f9b;
$blueDarkest: #1d518a;

// Green
$green: #43ca96;
$greenDark: #3ab183;

// Red
$red: #f58080;


// Gray
$grayLightester: #f4f4f4;
$grayLightest: #e0e0e0;
$grayLighter: #cccccc;
$grayLight: #b7b7b7;
$gray: #999999;
$grayDark: #7a7a7a;
$grayDarker: #5b5b5b;
$grayDarkest: #3d3d3d;
$grayDarkester: #1e1e1e;