//// layouts.header ////

.header-container {
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: #fff;
}

.header {
    height: 80px;
    @include min(xs) {
        height: 96px;
    }

    .logo {
        position: relative;
        top: -2px;
        @include min(xxs) {
            top: -3px;
        }

        svg {
            width: 100px;
            @include min(xxs) {
                width: 115px;
            }
            @include min(xs) {
                width: 125px;
            }
        }
    }
}

.nav-toggle {
    width: 48px;
    margin-right: 8px;
    padding: 0;
    @include min(xxs) {
        margin-right: 16px;
    }
    @include min(xs) {
        margin-right: 32px;
    }
    @include min(md) {
        display: none;
    }

    > * {
        pointer-events: none;
    }
}

.nav-top {
    @include max(md) {
        display: none;
    }
}

.nav-aside {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100vw;
    min-height: 100vh;
    padding: 16px;
    background-color: #fef7f3;
    transform: translateX(-100vw);
    transition: transform .2s cubic-bezier(.33,0,0,.99);
    @include media(480) {
        max-width: 380px;
        transform: translateX(-380px);
    }
    @include min(xs) {
        padding: 24px 16px 0;
    }
    @include min(md) {
        display: none;
    }

    .nav-toggle {
        display: block;
    }

    > ul {
        height: calc(100vh - 80px);
        padding: 16px 0 72px;
        overflow-y: scroll;
        @include min(xs) {
            height: calc(100vh - 96px);
        }

        ul {
            padding-left: 16px;
        }
    }

    .nav-item {
        display: block;

        + .nav-item {
            margin: 0;
        }
    }

    .nav-item__link {
        height: 48px;
        padding-left: 8px;
        font-size: 20px;

        &:not([href]) {
            text-transform: uppercase;
        }

        &:after {
            content: '';
            width: auto;
            height: auto;
            margin: 0;
        }
    }

    .nav--open & {
        transform: translateX(0);
    }
}

.nav-backdrop {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: rgba(#fff,0.7);

    .nav--open & {
        display: block;
    }
}