//// view.reports ////

.view--reports {
    .table__head--column-first {
        @include max(sm) {
            &:after {
                content: '/';
                margin: 0 4px;
            }
        }

        @include min(sm) {
            width: 35%;
        }
    }

    .table__row {
        @include max(sm) {
            flex-wrap: wrap;
        }
    }

    .table__row--column-first {
        @include media-max(480) {
            width: 100%;
        }
        @include min(sm) {
            width: 35%;
        }
    }

    .table__row--column-2 {
        @include max(sm) {
            order: 3;
            width: 100%;
            margin-top: 8px;
        }
        @include media-max(480) {
            order: 0;
        }
    }

    .table__row--column-last {
        margin: 8px 0 0;
        @include media(480) {
            margin: 0 0 0 auto;
        }
    }
}