//// view.marker-group ////

.view--marker-group {
    .result-people-bar {
        max-width: 768px;
    }

    .key-points {
        max-width: 768px;
    }

    .marker-groups {
        max-width: 768px;
        @include min(md) {
            width: auto;
        }
    }

    .marker-group {
        @include min(sm) {
            flex-wrap: wrap;
        }
    }
}