//// view.login ////

.view--login {
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0.6;
        width: 100%;
        height: 100%;
        background: url('/images/hr-login-bg.svg') no-repeat fixed;
        background-position: top right;
        background-size: cover;
    }


    .header-container {
        background-color: rgba(white, 0.7);
        @include min(sm) {
            background-color: transparent;
        }
    }

    #personal_number {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 26 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill-rule='nonzero' fill='none'%3E%3Cpath d='M7.965 12.486l1.053-6.634H7.894c-.527 0-1.204-.295-1.404-.837-.063-.183-.215-.813.654-1.427.311-.215.51-.454.55-.638a.495.495 0 00-.143-.486c-.192-.184-.566-.287-1.045-.287-.805 0-1.371.462-1.427.797-.04.247.152.447.319.574.502.375.622.917.311 1.427-.319.527-1.013.87-1.754.877H2.807c-.096.646-1.659 10.55-1.778 11.33h6.227c.056-.35.343-2.224.733-4.696h-.024z' fill='%23479CBE'/%3E%3Cpath d='M16.306.048h-6.34l-.844 5.366h1.076c.59 0 1.148-.271 1.387-.662a.64.64 0 00.112-.343c0-.223-.151-.39-.303-.502-.415-.311-.502-.638-.502-.87 0-.047 0-.087.008-.127.087-.566.853-1.18 1.865-1.18.606 0 1.069.144 1.348.407a.937.937 0 01.271.9c-.088.408-.494.742-.726.91-.613.43-.534.805-.494.917.128.335.614.55.989.55h1.634v.008c2.233.016 3.429 1.044 3.054 3.436-.35 2.225-2.057 3.182-4.09 3.198l-.805 5.135h1.188c5.015 0 9.113-3.222 9.918-8.309.997-6.315-3.005-8.834-8.746-8.834z' fill='%2300A5C3'/%3E%3Cpath d='M16.306.048h-6.34l-.844 5.366h1.076c.59 0 1.148-.271 1.387-.662a.64.64 0 00.112-.343c0-.223-.151-.39-.303-.502-.415-.311-.502-.638-.502-.87 0-.047 0-.087.008-.127.087-.566.853-1.18 1.865-1.18.606 0 1.069.144 1.348.407a.937.937 0 01.271.9c-.088.408-.494.742-.726.91-.613.43-.534.805-.494.917.128.335.614.55.989.55h1.634v.008c2.233.016 3.429 1.044 3.054 3.436-.35 2.225-2.057 3.182-4.09 3.198l-.805 5.135h1.188c5.015 0 9.113-3.222 9.918-8.309.997-6.315-3.005-8.834-8.746-8.834z' fill='%23235971'/%3E%3Cg fill='%23235971'%3E%3Cpath d='M.694 19.471h2.543c1.085 0 1.348.55 1.268 1.053-.064.406-.343.71-.821.909.606.23.845.59.757 1.156-.111.71-.725 1.236-1.53 1.236H.015l.678-4.354zm1.682 1.802c.494 0 .726-.263.774-.574.047-.335-.104-.566-.599-.566h-.438l-.175 1.14h.438zm-.271 1.882c.51 0 .805-.207.877-.63.056-.367-.151-.582-.646-.582h-.502l-.191 1.22h.462v-.008zM8.005 23.856c-.661.048-.98-.023-1.14-.31-.35.215-.741.326-1.156.326-.75 0-1.013-.39-.94-.82.031-.208.15-.407.342-.575.415-.359 1.435-.407 1.834-.678.032-.303-.088-.414-.463-.414-.438 0-.805.143-1.435.574l.152-.989c.542-.39 1.068-.574 1.674-.574.774 0 1.46.319 1.332 1.164l-.152.957c-.056.335-.04.438.335.446l-.383.893zm-1.148-1.499c-.35.224-1.005.184-1.076.646-.032.216.103.375.319.375.207 0 .462-.088.67-.231-.017-.08-.009-.16.015-.311l.072-.479zM9.241 20.452h1.324l-.072.438c.423-.358.742-.494 1.156-.494.742 0 1.085.454.965 1.196l-.343 2.225h-1.323l.287-1.842c.055-.335-.048-.495-.303-.495-.208 0-.4.112-.582.36l-.303 1.969H8.723l.518-3.357zM13.643 19.471h1.323l-.335 2.137 1.268-1.156h1.635l-1.627 1.435 1.308 1.93h-1.667l-1.004-1.555h-.016l-.24 1.555h-1.323z'/%3E%3C/g%3E%3Cg fill='%23479CBE'%3E%3Cpath d='M18.33 19.471h1.524l-.67 4.346h-1.523zM20.595 19.471h2.177c1.682 0 2.169 1.22 2.01 2.233-.152.988-.933 2.113-2.409 2.113h-2.455l.677-4.346zm1.412 3.31c.741 0 1.148-.368 1.267-1.141.088-.574-.087-1.14-.909-1.14h-.406l-.351 2.28h.399z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 12px center;
        background-size: 30px auto;
    }
}