//// tools.mixins.fonts ////

// GT Walsheim //
@mixin walsheim ($fontweight: 400) {
    font-family: 'GT Walsheim Pro', sans-serif;
    font-weight: $fontweight;
    font-style: normal;
    font-stretch: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
