//// tools.mixins-media ////

// min-width
@mixin min($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {

        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @media (min-width: $breakpoint-value) {
            @content;
        }

    } @else {
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

// max-width
@mixin max($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {

        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @media (max-width: ($breakpoint-value - .02)) {
            @content;
        }

    } @else {
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

// between
@mixin between($lower, $upper) {
    @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {

        $lower-breakpoint: map-get($breakpoints, $lower);
        $upper-breakpoint: map-get($breakpoints, $upper);

        @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - .02)) {
            @content;
        }

    } @else {

        @if (map-has-key($breakpoints, $lower) == false) {
            @warn 'The min-width breakpoint is invalid: #{$lower}.';
        }

        @if (map-has-key($breakpoints, $upper) == false) {
            @warn 'The max-width breakpoint is invalid: #{$upper}.';
        }
    }
}


// freestyle min-width
@mixin media($breakpoint) {
    @media (min-width: #{$breakpoint}px) {
        @content;
    }
}

// freestyle max-width
@mixin media-max($breakpoint) {
    @media (max-width: #{($breakpoint - .02)}px) {
        @content;
    }
}